# Python virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Uploaded files
app/uploads/*
!app/uploads/.gitkeep

# Generated reports
app/reports/*
!app/reports/.gitkeep

# Environment variables
.env

# macOS
.DS_Store

# Windows thumbnail cache
Thumbs.db